body{
    text-align: center;
}

.player_1{
    text-align: center;
    height: 120px;
    background-color: coral;
}
#welcome{
    background-image: url("https://t4.ftcdn.net/jpg/03/61/52/11/360_F_361521131_tvclR3GrsVQBFVsUe1EPNFgH2MWIN1w7.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    background-color: coral;
}
output{
    background-color: cornsilk;
}